<section class="search-page">
    <h2>Would you like to search for Puppies or Kittens GIFs?</h2>
    
    <div class="btns-container">
        <button ng-click="vm.searchFor('kittens')" class="green">Search for Kittens</button>
        <button ng-click="vm.searchFor('puppies')" class="green">Search for Puppies</button>
        <span class="clear"></span>
    </div>
    
    <div class="results" ng-show="vm.searchResult">
        <h3>Search Results for {{vm.searchPhrase | capitalize }}</h3>
    </div>
    
</section>