<section class="search-page">
    <h2>Would you like to search for Puppies or Kittens GIFs?</h2>
    
    <div class="btns-container">
        <button ng-click="vm.searchFor('kittens')" class="green">Search for Kittens</button>
        <button ng-click="vm.searchFor('puppies')" class="green">Search for Puppies</button>
        <span class="clear"></span>
    </div>
    
    <div class="results" ng-show="vm.searchResult">
        <h3>Search Results for {{vm.searchPhrase | capitalize }}</h3>
        
        <div class="pagination">
            <p>Pagination</p>
            {{vm.searchResult.pagination}}
        </div>
        
        <ul class="clearfix">
            <li ng-repeat="gif in vm.searchResult.data">
                <div>
                    <img ng-click="vm.openModal(gif)" src="{{gif.images.fixed_width_still.url}}" alt="{{gif.slug}}">
                </div>
                <!--<p>show this one in modal</p>
                <img src="{{gif.images.fixed_height.url}}" alt="{{gif.slug}}">
                <img src="{{gif.images.downsized.url}}" alt="{{gif.slug}}">-->
            </li>
        </ul>
    </div>
    
</section>